/* Fonte*/
* {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Estilos do body */
body {
    background-color: white;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container principal*/
.container{
    background-color: #131313;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    user-select: none;
}

/* Visor da calculadora*/
#display-area {
    width: 100%;
    margin: 1vh 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));
    word-wrap: break-word;
    padding-bottom: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.136) solid;
}

/* Número atual*/
#display-area .currentInput{
    text-align: right;
    height: 8vh;
    color: white;
    font-size: x-large;
    line-height: 2;
    word-wrap: break-word;
}

/* Resposta do cálculo*/
#display-area .answerScreen {
    text-align: right;
    color: white;
    height: 7px;
    line-height: 3;
    font-size: larger;
}

/*  Teclado*/
.keypad-btns {
    display: grid;
    grid: repeat(5, 70px) / repeat(4, 70px);
    gap: 20px;
}

/* Botões do teclado*/
.keypad-btns button {
    outline: none;
    border: none;
    border-radius: 122px;
    background-color:  #232534;
    color: #fff;
    font-size: x-large;
}

/* Estilos dos botões funcionais*/
.keypad-btns .fun_btn {
    color: white;
    background: #271052;
    font-weight: bold;
}

/* Estilos dos botões ao passar o mouse*/
.num_btn:hover {
    background-color: #222a3a;
    cursor: pointer;
}

.fun_btn:hover {
    background: #6e40c9;
    cursor: pointer;
}

/* Responsividade*/
@media only screen and (max-width: 600px){
    body{
        background-color: #131313;
        align-items: flex-start;
    }
}

.social-icons {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.icons:hover {
    color: #3a1d6d;;
    transition: ease-in-out;
    transform: scale(1.2);
}